/node_modules
/public/hot
/public/storage
/public/upload/
/storage/*.key
/vendor/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/logs
/storage/backups/*
.idea/
.env.example
.htaccess
artisan
client_secret.json
composer.lock
index.php
package-lock.json
package.json
phpunit.xml
postcss.config.js
readme.md
tailwind.config.js
vite.config.js
app/Console/Kernel.php
/____vendor/*